<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-buttons slot="end" *ngIf="folder === 'Countries' || folder === 'Regions'">
      <ion-button type="button" (click)="sort()">Sort</ion-button>
    </ion-buttons>

    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container" *ngIf="all && folder === 'Dashboard'">
    <h1 class="capitalize">{{ all.updated | date }}</h1>
    <ion-card *ngIf="countryData">
      <ion-card-header>
        <ion-card-title>The World (Earth)</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h2 class="green">{{ percentRecovered }} Recovered</h2>
        <h2>{{ percentDied }} Dead</h2>
        <p> Cases: {{ all.cases | number}} -- Deaths: {{ all.deaths | number}} -- Recovered: {{ all.recovered | number}} </p>
      </ion-card-content>
    </ion-card>
    
    <ion-card *ngIf="countryData">
      <ion-card-header>
        <ion-card-title>Your Country ({{ countryData.country }})</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h2> Cases Today: {{ countryData.todayCases | number }} -- Deaths Today: {{ countryData.todayDeaths | number }} </h2>
        <p> Cases: {{ countryData.cases | number}} -- Deaths: {{ countryData.deaths | number}} -- Recovered: {{ countryData.recovered | number}} </p>
        <hr/>
        <ion-badge color="tertiary">ACTIVE: {{ countryData.active | number }}</ion-badge>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="regionData">
      <ion-card-header>
        <ion-card-title>Your Region ({{ regionData.state }})</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h2> Cases Today: {{ regionData.todayCases | number }} -- Deaths Today: {{ regionData.todayDeaths | number }} </h2>
        <p> Cases: {{ regionData.cases | number}} -- Deaths: {{ regionData.deaths | number}} -- Recovered: {{ regionData.recovered | number}} </p>
        <hr/>
        <ion-badge color="tertiary">ACTIVE: {{ regionData.active | number }}</ion-badge>
      </ion-card-content>
    </ion-card>
    
    <ion-list *ngIf="bookmarks">
      <ion-list-header>Bookmarks</ion-list-header>
      <ion-item *ngFor="let key of objectKeys(bookmarks)" lines="none">
        <ion-label>
          <h2><strong>{{ key }}</strong></h2>
          <h3> Cases Today: {{ bookmarks[key].todayCases | number }} -- Deaths Today: {{ bookmarks[key].todayDeaths | number }} </h3>
          <p> Cases: {{ bookmarks[key].cases | number}}
              <br/>Deaths: {{ bookmarks[key].deaths | number}}, 
              <br/>Recovered: {{ bookmarks[key].recovered | number}} </p>
        </ion-label>
        <ion-badge color="tertiary">{{ bookmarks[key].active | number }}</ion-badge>
        <ion-icon slot="start" ios="close-circle-outline" md="close-circle-sharp" class="icon-button" (click)="removeBookmark(bookmarks[key])"></ion-icon>
      </ion-item>
    </ion-list>

  </div>

  <div *ngIf="countries && folder === 'Countries'">
    <ion-searchbar [(ngModel)]="terms"></ion-searchbar>
      <ion-list>
        <ion-item *ngFor="let item of countries | search : terms | sort: {property: column, order: order}">
          <ion-label>
            <h2><strong>{{ item.country }}</strong></h2>
            <h3> Cases Today: {{ item.todayCases | number }}, Deaths Today: {{ item.todayDeaths | number }} </h3>
            <p> Cases: {{ item.cases | number}}, Deaths: {{ item.deaths | number}}, Recovered: {{ item.recovered | number}} </p>
          </ion-label>
          <ion-badge color="tertiary">{{ item.active | number }}</ion-badge>
          <ion-icon slot="start" ios="add-circle-outline" md="add-circle-sharp" class="icon-button" (click)="addBookmark(item)"></ion-icon>
        </ion-item>
      </ion-list>
  </div>

  <div *ngIf="states && folder === 'Regions'">
    <ion-searchbar [(ngModel)]="terms"></ion-searchbar>
      <ion-list>
        <ion-item *ngFor="let item of states | search : terms | sort: {property: column, order: order}">
          <ion-label>
            <h2><strong>{{ item.state }}</strong></h2>
            <h3> Cases Today: {{ item.todayCases | number }}, Deaths Today: {{ item.todayDeaths | number }} </h3>
            <p> Cases: {{ item.cases | number}}, Deaths: {{ item.deaths | number}}, Recovered: {{ item.recovered | number}} </p>
          </ion-label>
          <ion-badge color="tertiary">{{ item.active | number }}</ion-badge>
          <ion-icon slot="start" ios="add-circle-outline" md="add-circle-sharp" class="icon-button" (click)="addBookmark(item)"></ion-icon>
        </ion-item>
      </ion-list>
  </div>

  <div class="container" *ngIf="folder === 'Historical'">
    <p style="text-align: center;">Coming Soon</p>
  </div>

</ion-content>
